* {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
}

.active {
  border: 2px solid #525253;
}

.keyboard {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.win-lose-container {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #525253;
  border-radius: 10px;
  min-width: 400px;
}

.win-lose-container h1 {
  color: var(--text-color);
  margin: 0px;
  font-size: 1.8rem;
}

.blur-bg {
  display: none;
}

.btn-newGame {
  margin-top: 10px;
  width: 150px;
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  background-color: var(--btn-color);
  border: none;
  cursor: pointer;
  color: var(--text-color-btn);
  border: 1px solid var(--btn-color);
}

.btn-newGame:hover {
  border: 1px solid var(--text-color);
  background-color: transparent;
  transition: all 200ms ease-in-out;
  color: var(--text-color);
}

.app-popup-bg {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9000;
  animation: fadeIn 300ms linear;
  backdrop-filter: blur(3px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-popup-container {
  background-color: var(--app-popup-bg);
  margin: auto;
  padding: 40px;
  width: 40%;
  border-radius: 15px;
  transform: translateY(10%);
  animation: UpDown 100ms linear;
  box-shadow: rgba(163, 163, 163, 0.2) 0px 2px 8px 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.app-popup-content {
  text-align: center;
}

.app-close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 2.3rem;
  font-weight: bold;
  margin-left: 700px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.app-close-popup:hover,
.app-close-popup:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .app {
    height: 100%;
  }

  .win-lose-container {
    display: none;
  }

  .blur-bg {
    display: block;
    background-color: rgb(122, 122, 122);
    background-color: rgba(122, 122, 122, 0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0px;
    height: 36%;
    width: 100%;
  }

  .win-lose-container-mobile {
    padding-top: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .win-lose-container-mobile h1 {
    color: var(--text-color);
    margin: 0px;
    font-size: 1.8rem;
  }

  .btn-newGame {
    margin-top: 0px;
    color: var(--text-color-btn);
  }

  .app-popup-container {
    width: 70%;
    height: 70%;
    overflow: auto;
    margin-top: -120px;
    padding-bottom: 0px;
  }

  .app-popup-content h1 {
    font-size: 1.8rem;
  }

  .number-data {
    font-size: 1.8rem;
  }
}

@media screen and (display-mode: standalone) {
  .blur-bg {
    z-index: 500;
  }

  body {
    overflow: hidden;
  }
}
